* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

header {
  background-color: #404041;
  text-align: center;
}

h1 {
  color: #DD1972;
  font-size: 3em;
  font-weight: 300;
  margin: 0; 
}

strong {
  font-weight: 700;
}

.line {
   color: #fff;
   font-size: 1em;
   font-weight: 300;
   margin: 0 2em;
   padding-bottom: 1em;
   text-align: center;
}

.line span {
  display: inline-block;
  line-height: 0.5;  
  position: relative;
}

.line span:before,
.line span:after {
  border-top: 1px solid #fff;
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
}

.line span:before {
  margin-right: 15px;
  right: 100%;
}

.line span:after {
  left: 100%;
  margin-left: 15px;
}

main {
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.column-1 {
  background-color: #F7F7F7;
}

article {
  background-color: #fff;
  margin: 3%;
  padding: 1%;  
}

h3 {
  margin: 1% 0;
}

form {
  display: flex;
  justify-content: space-between;
}

.range {
  padding: 1%;
  position: relative;
  width: 28%;
}

.update {
  background-color: #6E6E6E;
  border-radius: 34px;  
  bottom: 0;
  color: #fff;
  font-size: medium;
  padding: 5%;
  position: absolute;
  right: 0;
  width: 100%;
}

button {
  background-color: #D0D2D3;
  border-radius: 34px;  
  color: #fff;
  font-size: medium;
  margin: 3% 1%;
  padding: 1%;
  width: 30%;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

input {
  font-size: 2em;
  width: 100%;
}

.error-message, .error-message-guess-one, .error-message-guess-two {
  display: none;
}

.error-message-style{
  color: #DD1972;
}

.error-message-style img {
  margin-right: 5px;
  width: 10px;
}

.error-message-style p {
  display: inline-block;
}

span {
  margin: 1%;
  text-decoration: underline;
}

.challenger-name {
  padding-right: 3%;
  width: 63%;
}

.challenger-guess {
  justify-content: space-around;
  padding: 0;
  width: 34%;
}

.guess-box-borders, .range-error-border {
  border: solid 1px #DD1972;
}

.submit-button {
  background-color: #6E6E6E;
  border-radius: 34px; 
}

.submit-button:hover {
  background-color: #DD1972
} 

.clear-enabled:hover {
  background-color: #DD1972
}

.reset-enabled:hover {
  background-color: #DD1972;
}

.clear-enabled, .reset-enabled {
  background-color: #6E6E6E;
}

.latest-score {
  display: inline-block;
  margin: 3%;
  text-align: center;
  width: 40%;
}

.latest-score-2 {
  display: inline-block;
  margin: 3%;
  text-align: center;
  width: 40%; 
  
}

.current{
  color:#F74D9B;
  font-size: 3em;
  text-decoration: none;
  font-weight: 700;
}


.outer-line {
  display: inline-block;
  height: 150px;
  margin: 0;
  overflow: hidden;
  position: relative;
  width: 1px;
}

.inner-line {
  background:#D0D2D3 ;
  box-shadow: 0px 0px 0px 50px #D0D2D3;
  display: inline-block;
  height: 88px;
  position: absolute;
  top: 20%;
}

.column-2 {
  background-color: #C3C4C5;
  opacity: .85;
}

 .card {
  display: flex;
  justify-content: space-around;
}

.card h4 {
  color: #6e6e6e;
  display: flex;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
  width: 35%;
}

.card p {
  color: #6e6e6e;
  margin: 1%;
  padding: 1%;
}

.card h2 {
  color: #6e6e6e;
  font-style: bold;
}

.middle-row{
  text-align: center;
}

.winner{
  margin: 1%;
}

.winner2 {
  font-size: 4em;
  margin: 0;
}

.minutes {
  padding-right: 5px;
}

.exit {
  border-radius: 50%;
  padding: 0;
  width: 5%;
}